* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(214, 80, 255);
  background: linear-gradient(
    0deg,
    rgba(214, 80, 255, 1) 0%,
    rgba(18, 6, 148, 1) 21%,
    rgba(0, 0, 0, 1) 100%
  );
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  position: relative;
  overflow-y: hidden;
}

#gridContainer {
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.counterNumber {
  font-size: 20rem;
  color: white;
  text-shadow: 0 0 20px black;
  z-index: 2;
}

#rocket-ship {
  position: absolute;
  bottom: -89px;
  left: 47%;
  z-index: 3;
}

#smoke-left, #smoke-right {
  position: absolute;
  z-index: 2;
  width: 100px;
  opacity: 0;
}

#smoke-left {
  bottom: -80px;
  left: 40%;
  opacity: 0;
}

#smoke-right {
  bottom: -80px;
  right: 40%;
  opacity: 0;
}

#smoke-left img, #smoke-right img {
  max-width: 100%;
}

.liftoff {
  animation: liftoff-path ease-in 4s;
  animation-fill-mode: forwards;
}

.smoke-launch {
  animation: smoke-billow ease-out 3s;
  animation-fill-mode: forwards;
}

@keyframes liftoff-path {
  0% {
    bottom: -88px;
  }
  100% {
    bottom: 100%;
  }
}

.flashing {
  animation: flashing-tween ease-in-out 6s;
  animation-fill-mode: forwards;
}

@keyframes smoke-billow {
  0% {
    bottom: -80px;
    width: 100px;
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    bottom: -180px;
    width: 600px;
    opacity: 0;
  }
}

@keyframes flashing-tween {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.transparent-input {
  padding: 1rem;
  position: absolute;
  z-index: 3;
  background-color: aliceblue;
  opacity: 0.6;
  color: black;
  border-radius: 1rem;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px white;
}

#countdownSettings {
  top: 10px;
  left: 10px;
}

#changeSettingsDuringCountdown {
  top: 10px;
  right: 10px;
}

.inputField {
  padding: 0.6rem;
  font-size: 2rem;
  text-align: center;
  width: 100px;
  border: 1px lightgray solid;
  border-radius: 0.4rem;
}

.styledButton {
  background-color: white;
  color: black;
  padding: 0.6rem;
  border: 1px lightgray solid;
  border-radius: 0.6rem;
  margin-top: 1rem;
}

.styledButton:disabled {
  color: lightgray;
}

.styledButton:hover {
  color: lightgray;
  background-color: lightslategray;
  border: 1px slategray solid;
}

.hideElement {
  display: none;
}

.instructions {
  margin: 1rem 0 1rem 0;
  text-align: left;
}